<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="vue.css">
</head>
<body background="back.png">
<div class="tit_wrap">
	<h1 ><center>求生药役anne电信服数据</center></h1>
	<div class="scissors" style="border-top:1px dashed orange;">
	</div>
	
</div>		
<div class="myinfo">
	<table>
		<tbody>
			<tr>
				<td rowspan="6">
					<img src="player.jpg" class="transparent-bg" width="200" height="200" style="border-radius: 50%;">
				</td>
				<td>昵&emsp;&emsp;称 | name</td>
				<td>Steam id | Steam_ID</td>
			
			</tr>
			<tr>
				<td>游玩时间 | play_time</td>
				<td>最后上线 | last_online</td>
			</tr>
			<tr>
				<td>排&emsp;&emsp;行 | rank</td>
				
				<td>分&emsp;&emsp;数 | points</td>
			</tr>
			<tr>
				<td>分数 / 分 | point_min</td>
				<td>小僵尸数 | killed</td>
			</tr>
			<tr>
				<td>爆&emsp;&emsp;头 | shut</td>
				<td>爆&nbsp; 头&nbsp; 率 | out</td>
			</tr>
			<tr>
				<td>游玩次数 | playtimes</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div>
<h5><center>©爱丽数码</center></br>
	<center>
		https://github.com/Umamusume-Agnes-Digital/nonebot_plugin_l4d2_server
	</center>
</h5>
</div>
</body>
