<!DOCTYPE html>
<html class="pc">
<head>
	<link rel="stylesheet" type="text/css" href="vue.css">
    <title>Server Information</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body style="background-image: url('back2.png');">
<div class="myinfo">
    <table>
        <tr>
            <th>游戏</th>
            <th>服名</th>
			<th>ip</th>
            <th>地图</th>
            <th>玩家</th>
            <th>人数</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.number }}</td>
            <td>{{ item.name }}</td>
			<td>{{ item.ip }}</td>
            <td>{{ item.map_ }}</td>
			<td>
				{% for Player in item.Players %}
					{{ Player }}<br>
				{% endfor %}
			</td>
            <td>{{ item.max_players }}</td>
        </tr>
        {% endfor %}
    </table>
<h5><center>©爱丽数码</center></br>
	<center>
		https://github.com/Umamusume-Agnes-Digital/nonebot_plugin_l4d2_server
	</center>
</h5>
</div>
</html>